@font-face {
    font-family: 'Pretendard';
    src: url('./fonts/Pretendard-Regular.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

body {
    margin: 0;
    font-family: 'Pretendard';
    font-size: 14px;
}

div {
    box-sizing: border-box;
}

p {
    margin: 2px;
}

button {}

table {
    border-collapse: collapse;
}

input {
    border-bottom: 1px solid var(--black-color);
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 10px;

    &:focus {
        outline: none;
    }
}

ul {
    list-style: none;
}

li {
    text-align: center;
}