@font-face {
    font-family: 'jua';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

body {
    margin: 0;
    font-family: 'jua';
}

div {
    box-sizing: border-box;
}

button {
    border-radius: 15px;
    border:none;
    padding:5px;
    color: #ffffff;;
}

table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

input {
    border-bottom: 2px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
    padding:10px;
    &:focus{
        outline: none;
    }
}
