body {
    .react-datepicker {
        border: none;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
        .react-datepicker__header {
            background-color: var(--background-color);
            color: var(--white-color);
            border-bottom: none;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;

            .react-datepicker__day-names {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 40px;

                .react-datepicker__day-name {
                    color: var(--white-color);
                }
            }
        }
    }
}

.datepicker {
    display: flex;
    align-items: center;
    border: none;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    border-bottom: 2px solid var(--black-color);
    padding-right: 14px;

    &:hover {
        cursor: pointer;
    }

    &:focus {
        outline: none;
    }
}

.customHeaderContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px 0 24px;

    .year-month {
        color: var(--white-color);
        font-size: larger;
    }


}

.selectedDay,
.unselectedDay {
    color: var(--white-color);
}

.selectedDay {
    background-color: var(--background-color);
    border-radius: 50%;
    font-weight: 700;

    &:hover {
        border-radius: 50%;
        background-color: var(--white-color);
    }
}

.unselectedDay {
    &:hover {
        border-radius: 50%;
        background-color: rgba(var(--white-color), 0.08);
    }
}