body {
    .react-datepicker {
        border: none;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
        .react-datepicker__header {
            background-color: var(--white-color);
            border-bottom: none;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            padding:0;
            .react-datepicker__day-names {
                display: flex;
                justify-content: center;
                align-items: center;
                

                .react-datepicker__day-name {
                    color: var(--darkgrey-color);
                }
            }
            
        }
    }
}

.datepicker {
    align-items: center;
    box-sizing: border-box;
    border-bottom: 2px solid var(--black-color);
    background-color: none;
    width:160px;
    position:relative;
    &:hover {
        cursor: pointer;
    }

    &:focus {
        outline: none;
    }
}

.customHeaderContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px 0 12px;

    .year-month {
        color: var(--black-color);
        font-size: larger;
    }


}

.selectedDay,
.unselectedDay {
    color: var(--white-color);
}

.selectedDay {
    background-color: var(--background-color);
    border-radius: 50%;
    font-weight: 700;

    &:hover {
        border-radius: 50%;
        background-color: var(--white-color);
    }
}

.unselectedDay {
    &:hover {
        border-radius: 50%;
        background-color: rgba(var(--white-color), 0.08);

        background-color: rgba(white, 0.08);
    }
}