.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 680px;
}

.black-wrap {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    padding: 30px;
    transition: all 1s;

}

.white-wrap {
    border-radius: 5px;
    position: fixed;
    padding: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 1s;
    background: white;
    z-index: 5;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.grey-color {
    color: var(--black-color);
}

.danger-color {
    color: var(--danger-color);
}

.special-color {
    color: var(--special-color);
}

.warning-color {
    color: var(--warning-color);
}

/** 배경색 */
.background {
    background-color: var(--background-color);
}

/** 배경안에 컨테이너*/
.backBox {
    display:block;
    max-width: 450px;
    height:100vh;
    margin: auto;
    background-color: var(--white-color);
}

.footer {
    background: var(--white-color);
}

/** 배경안에 컨테이너 다른 컨테이너*/
.backBox-100 {
    width: 85%;
    height: 100vh;
    float: right;
    background: var(--white-color);
}

/* 안에 있는 박스컨테이너*/
.innerBox {
    width: 100%;
    background: var(--white-color);
    margin: auto;
    overflow: hidden;
    .subBox {
        margin: auto;
        overflow: hidden;
        width: 70%;
        margin-bottom: 10px;

    }
    
    input,
    select,
    button {
        width: 100%;
        margin-bottom: 15px;
    }
}

.doButton {
    font-size: 20px;

    &:hover {
        cursor: pointer;
    }
}


.componentTitle {
    padding-top: 70px;
    font-size: 1.6rem;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.componentContent {
    background-color: var(--white-color);
    height: 600px;

    table {
        width: 70%;
        align-items: center;
        margin: auto;
        margin-bottom: 15px;
    }
}

/* 버튼용으로 쓸거면 이 클래스 무조건 사용 */
.btn {
    width: 100%;
    border-radius: 15px;
    border: none;

    &:hover {
        cursor: pointer;
    }
}

/* 메뉴바 컨테이너 */
.menubar-container {
    position: fixed;
    width: 100%;
    padding: 10px;
    background: var(--white-color);
    top: 0;

    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

/* 메뉴바 각 아이템 위치 배정 */
.menubar-container div {
    display: flex;
    justify-content: space-between;
}

/* 메뉴바 각 아이템 스타일 */
.nav-item {
    border-radius: 15px;
    padding: 5px;
    margin: 5px;
    margin-top: 20px;
    border: none;
    background-color: var(--grey-color);
    color: var(--white-color);
    text-decoration: none;

    &:hover {
        cursor: pointer;
        background-color: var(--hovering-color);
        color: var(--button-color);
    }
}

.box-container {
    display: block;
    padding: 5px;
    margin-bottom: 5px;
}

.mypage-menubar {
    position: fixed;
    width: 15%;
    top: 73px;
    left: 0;
    background-color: var(--background-color);

}

.p {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    align-items: center;
    padding: 15px;
    color: var(--black-color);

    &:hover {
        cursor: pointer;
        background-color: var(--white-color);
        color: var(--hovering-color);
    }
}

.sub-menu-selected {
    background-color: var(--white-color);
    color: var(--hovering-color);
}

.message {}

.pagination {
    border: none;
    font-size: 1.4rem;
    border-radius: 20px;
    &:hover{
        cursor: pointer;
    }
}

.pagination-selected {
    background-color: var(--hovering-color);
    color: var(--white-color);
}

.pagination-unselected {
    background-color: var(--white-color);
    color: var(--hovering-color);
}

@media screen and (max-width : 768px) {
    .mypage-menubar {
        width: 100%;
        height: 60px;
        display: flex;
        flex-direction: row;

        .p {
            width: 50%;
            display: flex;
            flex-direction: row;
        }
    }

    .backBox-100 {
        width: 100%;
        padding-top: 0px;
    }

    .componentTitle {
        padding-top: 140px;

    }

    .componentContent {
        height: 500px;

        table {
            width: 100%;
        }
    }
}