.loading {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
}

.black-wrap {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    padding: 30px;
    z-index:15;
    transition: all 1s;

}

.white-wrap {
    border-radius: 5px;
    position: fixed;
    padding: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 1s;
    background: white;
    z-index: 20;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}


/** 배경색 */
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    z-index: -1;
}

/** 배경안에 컨테이너*/
.backBox {
    display: block;
    max-width: 450px;
    height: 100vh;
    margin: auto;
    background-color: var(--white-color);
}

.footer {
    background: var(--white-color);
}

/** 배경안에 컨테이너 다른 컨테이너*/
.backBox-100 {
    width: 100%;
    /* 초기에는 너비를 100%로 설정합니다. */
    height: 100vh;
    float: right;
    background: var(--white-color);
    animation: widthAnimation 0.5s forwards;
    /* 애니메이션 적용 및 지속 시간 설정 */
}

@keyframes widthAnimation {
    0% {
        width: 100%;
        /* 시작 시 너비를 100%로 설정합니다. */
    }

    100% {
        width: 85%;
        /* 최종 너비를 85%로 설정합니다. */
    }
}

/* 안에 있는 박스컨테이너*/
.innerBox {
    width: 100%;
    background: var(--white-color);
    margin: auto;
    overflow: hidden;

    .subBox {
        margin: auto;
        overflow: hidden;
        width: 70%;
        margin-bottom: 10px;

    }

    input,
    select,
    button {
        width: 100%;
        margin-bottom: 15px;
    }
}

/** 데이터 피커나 다른 prev,next 버튼 쓸때 사용하는 스타일 */
.doButton {
    font-size: 20px;
    border: none;
    background: none;

    &:hover {
        cursor: pointer;
    }
}


.componentTitle {
    padding-top: 70px;
    font-size: 1.6rem;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.componentContent {
    background-color: var(--white-color);
    height: 600px;

    table {
        width: 70%;
        align-items: center;
        margin: auto;
        margin-bottom: 15px;
    }
}
.grey-color {
    color: var(--black-color);
}

.danger-color {
    color: var(--danger-color);
}

.special-color {
    color: var(--special-color);
}

.warning-color {
    color: var(--warning-color);
}


/* 버튼용으로 쓸거면 이 클래스 무조건 사용 */
.btn {
    width: 100%;
    border-radius: 15px;
    border: none;

    &:hover {
        cursor: pointer;
    }
}

/* 메뉴바 컨테이너 */
.menubar-container {
    position: fixed;
    width: 100%;
    padding: 10px;
    background: var(--white-color);
    top: 0;
    z-index:10;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

/* 메뉴바 각 아이템 위치 배정 */
.menubar-container div {
    display: flex;
    justify-content: space-between;
}

/* 메뉴바 각 아이템 스타일 */
.nav-item {
    border-radius: 15px;
    padding: 5px;
    margin: 5px;
    margin-top: 20px;
    border: none;

    text-decoration: none;
    
}
.menu-item-style{
    background-color: var(--grey-color);
    color: var(--white-color);
    &:hover {
        cursor: pointer;
        background-color: var(--hovering-color);
        color: var(--button-color);
    }
}
.box-container {
    display: block;
    padding: 5px;
    margin-bottom: 5px;
}

.mypage-menubar {
    position: fixed;
    width: 15%;
    height: 100vh;
    top: 73px;
    left: -100%;
    /* 초기에는 왼쪽으로 이동한 상태로 설정합니다. */
    background-color: var(--background-color);
    animation: slideIn 0.5s forwards;
    /* 애니메이션 적용 및 지속 시간 설정 */
}

@keyframes slideIn {
    0% {
        left: -100%;
        /* 시작 위치 */
    }

    100% {
        left: 0;
        /* 최종 위치 */
    }
}

.p {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    align-items: center;
    padding: 15px;
    color: var(--black-color);

    &:hover {
        cursor: pointer;
        background-color: var(--white-color);
        color: var(--hovering-color);
    }
}

.sub-menu-selected {
    background-color: var(--white-color);
    color: var(--hovering-color);
}

.message {
    top: -100%;
    /* 초기에는 왼쪽으로 이동한 상태로 설정합니다. */
    animation: slideDown 0.5s forwards;
    /* 애니메이션 적용 및 지속 시간 설정 */

}

@keyframes slideDown {
    0% {
        top: -100%;
        /* 시작 위치 */
    }

    100% {
        top: 10%;
        /* 최종 위치 */
    }
}

.pagination {
    border: none;
    font-size: 1.4rem;
    border-radius: 20px;

    &:hover {
        cursor: pointer;
    }
}

.pagination-selected {
    background-color: var(--hovering-color);
    color: var(--white-color);
}

.pagination-unselected {
    background-color: var(--white-color);
    color: var(--hovering-color);
}

.handle-button {
    border-radius: 25px;
    border: none;
    margin-top: 0%;
    padding: 10px;
}

.button-style {
    color: var(--button-color);
    background-color: var(--grey-color);

    &:hover {
        cursor: pointer;
        background-color: #c4c4c4;
    }
}

/* 모달 */
.handle-button-modal {
	border-radius: 25px;
	border: none;
	margin-top: 12%;
    margin-bottom: 0%;
}

.button-style-modal-1 {
    width: 71px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(-button-color);
    background-color: #D6E6D0;
  
    &:hover {
      cursor: pointer;
      background-color: #98C08A;
    }
  }  

.button-style-modal-2 {
	color: var(—button-color);
	background-color: var(—grey-color);
	padding: 13px;

	&:hover {
		cursor: pointer;
		background-color: #c4c4c4;
	}
}

.button-container {
    float: left;
    justify-content: center;
    margin-right: 12px;
    margin-left: 10px;
    }

@media screen and (max-width : 768px) {

    .mypage-menubar {
        width: 100%;
        height: 60px;
        display: flex;
        flex-direction: row;

        .p {
            width: 50%;
            display: flex;
            flex-direction: row;
        }
    }

    .backBox-100 {
        width: 100%;
        /* 초기에는 너비를 100%로 설정합니다. */
        animation: widthAnimation 0.5s forwards;
        /* 애니메이션 적용 및 지속 시간 설정 */
    }

    @keyframes widthAnimation {

        100% {
            width: 100%;
            /* 최종 너비를 85%로 설정합니다. */
        }
    }

    .componentTitle {
        padding-top: 140px;

    }

    .componentContent {
        height: 500px;

        table {
            width: 100%;
        }
    }
}