.select{
    position: relative;
    align-items: center;
    margin:auto;
    cursor: pointer;
    width:160px;
    height:25px;
    font-family: 'Pretendard-semibold';
}
.select-location {
    top: -1px;
    padding: 5px;
    border: none;
    text-align: center;
}
.select-email {
    top: -8px;
    padding: 8px;
    border: 1px solid var(--black-color);
    width: 100%;
    border-radius: 5px;
    height:35px;
    &::before {
        content: "⌵";
        position: absolute;
        top: 1px;
        right: 8px;
        color: var(--hovering-color);
        font-size: 20px;
    }
}
.select-level {
    top:2px;
    padding-left: 3px;
    padding-right:0px;
    border-bottom: 2px solid var(--black-color);
    text-align: left;
}


.select-option {
    position: absolute;
    list-style: none;
    text-align: center;
    top: 30px;
    left: 0;
    z-index: 10;
    overflow: hidden;
    padding: 0px;
    border-radius: 20px;
    background-color: var(--white-color);
    color: var(--black-color);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}
.select-option-location{
    width: 100px;
}
.select-option-email{
    width:100%
}
.select-option-level {
    width: 100%;
}

.option {
    padding: 5px;
   
    margin-left: auto;
    margin-right: auto;
    transition: background-color 0.2s ease-in;
    
    &:hover {
        cursor: pointer;
        background-color: var(--hovering-color);
        color: var(--white-color);
    }
}

.level-style {
    margin: auto;
    margin-bottom: 5px;
    width: 100px;
    border: 1px solid var(--grey-color);
    border-radius: 20px;

    &:hover {
        border: 1px solid var(--hovering-color);
        background-color: var(--white-color);
        color: var(--hovering-color);
    }
}