.select-box {
    position: relative;
    top: -1px;
    padding: 5px;
    align-items: center;
    cursor: pointer;
}

.select-location {
    border: none;
}

.select-level {
    border-bottom: 2px solid var(--black-color);
}

.email-style {
    border: 1px solid var(--black-color);
    width: 100%;
    border-radius: 5px;

    &::before {
        content: "⌵";
        position: absolute;
        top: 1px;
        right: 8px;
        color: var(--hovering-color);
        font-size: 20px;
    }
}

.select-option {
    position: absolute;
    list-style: none;
    top: 30px;
    left: 0;
    width: 100%;
    overflow: hidden;
    padding: 0px;
    border-radius: 20px;
    background-color: var(--white-color);
    color: var(--black-color);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.option {
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 0.2s ease-in;

    &:hover {
        cursor: pointer;
        background-color: var(--hovering-color);
        color: var(--white-color);
    }
}

.level-style {
    margin: auto;
    margin-bottom: 5px;
    width: 100px;
    border: 1px solid var(--grey-color);
    border-radius: 20px;

    &:hover {
        border: 1px solid var(--hovering-color);
        background-color: var(--white-color);
        color: var(--hovering-color);
    }
}